@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb5e28;
}
